{{define "content"}}
  <div class="col-md-4">
    <div class="cover" data-id="" data-original-title="" title="">
      <img src="{{ .CoverDownloadURL }}" class="img-responsive">
    </div>
  </div>
  <div class="col-md-8">
    <h1 class="titre">{{ .Title }}</h1>
    {{ if .Serie }}
      <h2><a href="/index.html?serie={{ .Serie }}">{{ .Serie }} - {{ .SerieNumber }}</a></h2>
    {{ end }}
    {{ range .Authors }}
      <p class="auteur"><a href="/index.html?author={{ .Name }}">{{ .Name }}</a></p>
    {{ end }}
    <p>{{ .Isbn }}</p>


    <p>
      {{ range .Tags }}
        <a href="/index.html?tag={{ .Name }}"><span class="label label-success">{{ .Name }}</span></a>
      {{ end }}
    </p>
    <p class="resume">{{ .Description }}</p>
    <p>
       <a href="/books/{{ .ID }}/download" class="btn btn-success">Télécharger</a>
       {{ if .Favorite }}
          <a href="/books/{{ .ID }}/favorite" class="btn btn-success"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Favori</a>
        {{ else }}
          <a href="/books/{{ .ID }}/favorite" class="btn btn-success">Favori</a>
        {{ end }}
        {{ if .Read }}
          <a href="/books/{{ .ID }}/readed" class="btn btn-success">Lu</a>
        {{ else }}
          <a href="/books/{{ .ID }}/readed" class="btn btn-success">A lire</a>
        {{ end }}
       <a href="/books/{{ .ID }}/reader/" class="btn btn-success">Lire en ligne</a>
       <a href="/books/{{ .ID }}/edit" class="btn btn-warning">Editer la fiche</a>
       <a href="/books/{{ .ID }}/refresh" class="btn btn-warning">Rétraiter le fichier</a>
       <a href="/books/{{ .ID }}/delete" class="btn btn-danger">Supprimer</a>
    </p>
  </div>
{{ end }}
