<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MyOpds</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- bootstrap tag css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="/css/typeaheadjs.css" />
    <!-- Add custom CSS here -->
    <link href="/css/custom.css" rel="stylesheet">
    <!-- JavaScript -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/typeahead.js"></script>
    <script src="/js/bootstrap-tagsinput.min.js"></script>

  </head>

  <body>
    <div class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <a class="navbar-brand" href="/index.html">{{ .Title }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li><a target="_self" href="/books/new.html">Ajout d'un livre</a></li>
                  <li><a target="_self" href="/index.html">Auteur</a></li>
                  <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Paramètre<span class="caret"></span></a>
                    <ul class="dropdown-menu  nav-justified" role="menu"> -->
                      <li><a href="/settings.html">Paramètre</a></li>
                      <li><a href="/tags_list.html">Tags</a></li>
                      <!--<li class="divider"></li>
                      <li><a href="add_cat.html">Add category</a></li>
                      <li class="divider"></li>
                      <li><a href="bad_data.html">Bad Metadata Book</a></li> -->
                    <!--</ul>
                  </li>-->
                </ul>
              </div><!--/.nav-collapse -->
            </div><!-- container -->
        </nav> <!-- navbar -->

      <div>
        <img src="/img/banner.png" class="img-responsive hidden-xs">
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1>{{ .Title }}</h1>
          </div>

           <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapsebook">
                <h4 class="panel-title">
                  Recherche
                    <div class="option">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </div>
                </h4>
            </div>

            <div id="collapsebook" class="panel-body collapse">
                <form role="form" method="get" action="/search.html">

                <div class="form-group col-md-8">
                  <input class="form-control" name="query" type="text" placeholder="Tout" required />
                </div>

                <!-- <div class="form-group col-md-8">
                  <input class="form-control" name="name" type="text" placeholder="Auteur" required />
                </div>

                <div class="form-group col-md-8">
                  <select class="form-control" name="subject" required>
                      <option value="0">Choississez un genre</option>
                      <option value="1">Roman</option>
                      <option value="2">Fantasy</option>
                      <option value="3">Thriller</option>
                      <option value="4">Essai</option>
                  </select>
                </div> -->

                <div class="form-group">
                    <div class="col-md-8">
                        <input class="btn btn-primary" type="submit" value="Search">
                    </div>
                </div>

                </form>
            </div>
        </div> <!-- panel default -->
              <div class="well well-sm">
                <strong>Listé par:</strong>
                <a href="/index.html?order=new" class="btn btn-sm btn-info">
                    <i class="glyphicon glyphicon-star"></i> Nouveauté</a>
                <a href="/index.html?filter=favorite" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-heart"></i> Favori</a>
                <a href="/index.html?filter=notread" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-eye-close"></i> Non lu</a>
                <a href="/index.html?filter=read" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-eye-open"></i> Lu</a>
              </div>
        </div> <!-- col-md-12 -->
      </div> <!-- row -->

      <div class="row">
        <div class="col-md-12">
          {{template "content" .Content}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="text-left col-md-6 col-xs-6">
            {{ if ne .FirstPage "" }}
              <a href="{{ .FirstPage }}" class="btn btn-primary btn-lg">First</a>
            {{ end }}
            {{ if ne .PrevPage "" }}
              <a href="{{ .PrevPage }}" class="btn btn-primary btn-lg">Prev</a>
            {{ end }}
          </p>
          <p class="text-right col-md-6 col-xs-6">
            {{ if ne .NextPage "" }}
              <a href="{{ .NextPage }}" class="btn btn-primary btn-lg">Next</a>
            {{ end }}
            {{ if ne .LastPage "" }}
              <a href="{{ .LastPage }}" class="btn btn-primary btn-lg">Last</a>
            {{ end }}
          </p>
        </div> <!-- col-md-12 -->
      </div>  <!-- row -->
    </div> <!-- container -->
  </body>

<script>
  var html = '<div class="form-group"><label for="author">Auteur</label><input type="text" class="form-control" id="author" name="author" placeholder="Autheur"></div>'
  $("#add_author").on("click", function(e) {
    e.preventDefault();
    $("#authors").append(html)
  })

  var tags = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: {
      url: '/tags_completion.json',
      filter: function(list) {
        return $.map(list, function(tag) {
          return { name: tag }; });
      }
    }
  });
  tags.initialize();

  $('#tags').tagsinput({
    typeaheadjs: {
      name: 'tags',
      displayKey: 'name',
      valueKey: 'name',
      source: tags.ttAdapter()
    }
  });

</script>
</html>
