{{define "content"}}
  <form method="post" action="/settings">
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="MyOPDS" value="{{ .Name }}">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="text" class="form-control" id="password" name="password" placeholder="" value="{{ .Password }}">
    </div>
    <div class="form-group">
      <label for="per_page">Nombre de livre par page</label>
      <input type="text" class="form-control" id="per_page" name="per_page" placeholder="" value="{{ .NumberBookPerPage }}">
    </div>
    <div class="form-group">
      <label for="port">Port du serveur web (demande un redemarrage, peut nécessité des droits super user)</label>
      <input type="text" class="form-control" id="port" name="port" placeholder="" value="{{ .Port }}">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
{{end}}
