body {
  background: #f1f3f4;
  height:100%;
}

@font-face {
  font-family: 'tagetts';
  src: url('../fonts/tagetts2_U.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

#content {
  margin-top: 20px;
}

/* Page d'acceuil*/

.citation {
  font-family: tagetts;
  font-size: 2em;
}

#citation {
	position: fixed;
	top: 80%;
	margin: 0 auto;
}

#column-left {
  border-right: 1px solid black;
}

#content_block_center img {
  padding-right: 20px;
  width: 220px;
  height: 288px;
}

#content_block_center {
  width: 940px;
  overflow: hidden;
}

#content_block_center ul li {
  float: left;
  margin: 24px 20px 0 0;
  overflow: hidden;
  position: relative;
}

/*navbar*/

.navbar-default {
    background-color: #fff;
    border-color: #dddddd;
}

/*panel et well*/

.option {
  float: right; !important
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default .panel-heading {
    min-height: 20px;
    padding: 19px;
    color: #777;
    background-color: #e5e5e5;
    border: 1px solid #e3e3e3;
}

.panel-heading .panel-collapse {

    float: right;
}

.well {
    min-height: 20px;
    padding: 19px;
    color: #777;
    text-align: left;
    background-color: #fff;
}

.well 



/*divers*/

.page-header {

}

.center {
  text-align: center;
}

.btn-dl {
  color: #4cae4c;
  background-color: #c1ffc1;
  border-color: #4cae4c;
  margin-top: 20px;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
margin-left: 10px;
}

.btn-group {
  margin-left: 10px;
}

.thumbnail > img {
  height: 300px;
}

.book-block {
    display: inline-block;
    margin: 0 5px;
}

.book-extras {
    display: block;
    padding: 2px;
    margin-bottom: 4px;
}

.thumbnail {
  padding: 2px;
}

.thumbnail>img, .thumbnail a>img {
    display: block;
    width: 205px;
    height: 299px;
    margin-left: auto;
    margin-right: auto;










@media(max-width:768px) {

.item.col-xs-3 {
    float: none;
}
}
